@model ClassRoomWeb.Models.ClassRoomModel

@{
    ViewData["Title"] = "Delete";
}

<h1>ลบห้องเรียน</h1>

<h3>คุณมั่นใจหรือไม่ที่จะลบห้องเรียนนี้ ?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.classRoomName)</h4>
    <hr />
    @*<dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.classRoomId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.classRoomId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.classRoomName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.classRoomName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.classRoomDiscription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.classRoomDiscription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.classRoomSubject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.classRoomSubject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createAt)
        </dd>
    </dl>*@
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">กลับไปยังหน้ารายชื่อ</a>
    </form>
</div>
