@model ClassRoomWeb.Models.TeacherModel

@{
    ViewData["Title"] = "Delete";
}

<h1>ลบรายชื่อครู</h1>

<h3>คุณมั่นใจหรือไม่ที่จะลบรายชื้อครูนี้ ?</h3>
<div>
    <hr />
    @*<dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacherId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacherId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacherName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacherName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.teacherTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.teacherTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subjectTaught)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subjectTaught)
        </dd>
    </dl>*@
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">กลับไปยังหน้ารายชื่อ</a>
    </form>
</div>
